<HTML>
    <HEAD>
        <TITLE>Vining Genealogy - {{letter}} List</TITLE>
        <META NAME="description" CONTENT="Vining families with on-line scanned documentation such as birth, marriage, and death certificates; census records; and images of gravestones; plus links from one family to another so lineages can be followed.">
        <META NAME="keywords" CONTENT="Vining, Vining family, genealogy">
        <link rel="stylesheet" href="../style.css" />
    </HEAD>
    <body>
        {{ content | safe}}
    </body>
</html>