<table border="0" cellpadding="5" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%">
   <tr>
      <td width="10%" align="center">
      </td>
      <td width="20%" align="center">
         <img height=200 src=Vining-Logo-Transparency.png>
      </td>
      <td width="60%" align="center">
         <font size="+4">
            <font color="006600">
               Vining Family Association<br>
            </font>
            <font size="+3">
               One Name &#8212; Many Families<br>
            </font>
         </font>
            <br>
         <font size="+1">
            P. O. Box 505 - Yardley, PA&nbsp;&nbsp;19067<br>
            <a href="mailto:info@vining-family.org">info@vining-family.org</a>
         </font>
      </td>
      <td width="10%" align="center">
      </td>
   </tr>
</table>